{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<head>
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: lavender;
        }
    </style>

</head>

<body style="background-color: darkslateblue; margin:auto; vertical-align: middle;">


    <div class="container mt-5 text-center pt-3" style="background-color: lavender; padding: 20px 20px 20px 20px;">

        <div class="row justify-content-center">
            <div class="col-md-5">
                <h2 style = color:darkslateblue> Welcome</h2>
                <div style = color:darkslateblue>
                    <a style = color:darkslateblue href="{% url 'skills' %}">My Experience</a>
                    <br>
                    <a style = color:darkslateblue href="{% url 'right' %}">Why I am Right for iGEM</a>
                </div>

            </div>
        </div>

    </div>

    <div class="container mt-5" style="background-color: lavender; padding: 20px 20px 20px 20px;">
        <h3 class = "text-center pt-3" style = color:darkslateblue>Quick Information</h3>
        <div class="container" style = color:darkslateblue>
            <div class="row">
              <div class="col-sm">
                <div class = " text-center pt-3" style = color:darkslateblue>
                    About Me:
                    <li>Major in Computer Science</li>
                    <li>Minor in Data Science</li>
                    <li>Minor in Studio Art</li>
                </div>
              </div>
              <div class="col-sm">
                <div class = " text-center pt-3" style = color:darkslateblue>Link to my GitHub: </div>
                <br>
                <div class="container text-center pt-3">
                    <a href="https://github.com/ksprin" target="_blank" ><button style = "background-color: darkslateblue; color: lavender;">ksprin on Github </button></a>
                </div>
              </div>
            </div>
          </div>

    </div>


</body>